<div class="row index">
    <!-- <div class="col-md-12 col-12">
        <h1 class="title">Profiler</h1>
    </div> -->
    <div class="col-md-6 col-12 signin">
        <div class="info container">
            <h2 class="titulo">
                Sign In
            </h2>
            <h3>Entra en tu cuenta de Profiler</h3>
            <a [routerLink]="['/login']" class="btn btn-outline-primary btn-lg">Entra</a>
        </div>
    </div>
    <div class="col-md-6 col-12 signup">
        <div class="info container">
            <h2 class="titulo">
                Sign Up
            </h2>
            <h3>Crea una nueva cuenta con nosotros</h3>
            <a [routerLink]="['/registro']" class="btn btn-outline-secondary btn-lg">Regístrate</a>
        </div>
    </div>
</div>