.signin{
    background-color: #C1CFDA85;
}

.signup{
    background-color: #1097f785;
}

.row.index{
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
}

.info .titulo {
    margin: 120px 0px 40px 0px;
    font-size: 4em;
}

.info .btn{
    margin: 40px 0;
    color: #333;
    border: 2px solid #333;
}

.index .signin{  
    background: #E63462;
}

.index .signup{
    background: #230C33;
    color: white;
}

.index .signin .btn:hover{
    color: white;
    border-color: white;    
    background-color: #230C33;
}

.index .signup .btn{
    color: white;
    border-color: white;
}

.index .signup .btn:hover{
    color: white;
    border-color: white;
    background-color: #E63462;
}