/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700&display=swap');

body {
    overflow-x: hidden;
}

h1,h2{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: 700;
}
h3,h4{
    font-family: 'Palanquin Dark', sans-serif;
    font-weight: normal;
}

